.mat-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* transform: scale(1.05);
  transition: all 0.3s ease-in-out; */
  background-color: #eeeeee;
}

.mat-card {
  transition: all 0.3s ease-in-out;
}
