<mat-card
  *ngIf="device"
  [ngClass]="{ 'text-center': !fullWidthMode }"
  style="padding-bottom: 10%; padding-top: 10%"
>
  <div>
    <img
      class="mb-1 mx-auto"
      [ngClass]="{ 'h-[180px]': !fullWidthMode, 'h-[3400px]': fullWidthMode }"
      [src]="device.Name"
    />
    <div
      class="w-full"
      [ngClass]="{ 'px-8 flex flex-col justify-between': fullWidthMode }"
    >
      <div>
        <h5>{{ device.Description}}</h5>
        <p>
          {{ device.Brand}}
        </p>
        <p *ngIf="fullWidthMode">
          {{ device.Description }}
        </p>
      </div>
      <div class="flex justify-between">
        <span class="text-red-400">{{ device.Price | currency }}</span>

        <button (click)="onCartClicked()">
          <mat-icon
            [style.color]="
              cartService.isItemAvailableInCard(this) ? 'yellowgreen' : 'gray'
            "
            >shopping_cart</mat-icon
          >
        </button>
      </div>
    </div>
  </div>
</mat-card>
