<mat-expansion-panel *ngIf="categories">
  <mat-expansion-panel-header>
    <mat-panel-title> Devices </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-selection-list [multiple]="false">
    <mat-list-option *ngFor="let device of devices" [value]="device">
      <button (click)="onShowCategory(device)">{{ device }}</button>
    </mat-list-option>
  </mat-selection-list>
</mat-expansion-panel>

<mat-expansion-panel *ngIf="categories">
  <mat-expansion-panel-header>
    <mat-panel-title> Services </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-selection-list [multiple]="false">
    <mat-list-option *ngFor="let service of services" [value]="service">
      <button (click)="onShowCategory(service)">{{ service }}</button>
    </mat-list-option>
  </mat-selection-list>
</mat-expansion-panel>
